.archive-date {
  float: right;
  color: #929292;
}

// .body a,
// .footer a {
//   text-decoration: underline;
// }

.archive-els {
  list-style-type: none;
  // text-decoration: underline;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

.archive-link {
  padding-top: 0.35rem;
  padding-bottom: 0.35;
}
