.archive-date {
  float: right;
  color: #cccccc;
}

.body a,
.footer a {
  text-decoration: underline;
}

.archive-els {
  list-style-type: none;
  text-decoration: underline;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

.archive-link {
  padding: 0.35rem;
}
