// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  // padding-top: 1rem;
  // padding-bottom: 1rem;
  // margin-bottom: 3rem;
}

.masthead {
  text-decoration: none !important;
  padding-top: 1rem;
  text-align: right;
}

// .masthead::after {
//   display: block;
//   content: "";
//   width: 100px;
//   height: 1px;
//   margin: 3rem auto;
//   margin-top: 3rem;
//   margin-right: auto;
//   margin-bottom: 3rem;
//   margin-left: auto;
//   background-color: var(--hr-color);
// }

.masthead::after {
  display: block;
  content: "";
  width: 100px;
  height: 1px;
  margin: 3rem auto;
  background-color: var(--hr-color);
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  // color: $gray-4;
  color: #010101;

  float: left;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: 0.5;
  }
}
